.footer {
    text-align: center;
    background: #0D6EFD;
    color: white;
    height: 20px;
    align-items: center;
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}